<!DOCTYPE html>
<html>
<head>
    <title>Control Page</title>
    <script>
        async function setContestant(contestantNumber) {
            const response = await fetch('/set_current_contestant', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ contestant_number: contestantNumber }),
            });
            const result = await response.json();
            alert(`Contestant ${result.contestant_number} is now displayed.`);
        }
		document.addEventListener("DOMContentLoaded", function () {
        const spinner = document.getElementById("loading-spinner");

        // Показать спиннер при начале загрузки страницы
        spinner.style.display = "flex";

        // Скрыть спиннер после полной загрузки страницы
        window.addEventListener("load", function () {
            spinner.style.display = "none";
        });

        // Показать спиннер при переходах по ссылкам
        document.querySelectorAll("a").forEach(link => {
            link.addEventListener("click", function () {
                spinner.style.display = "flex";
            });
        });

        // AJAX-запросы (если используются)
        document.addEventListener("ajaxStart", function () {
            spinner.style.display = "flex";
        });

        document.addEventListener("ajaxStop", function () {
            spinner.style.display = "none";
        });
    });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Control Panel</h1>
    <h2>Select Contestant to Display</h2>
    <div>
        {% for contestant in contestants %}
        <button onclick="setContestant({{ contestant.number }})">
            {{ contestant.name }} ({{ contestant.category }})
        </button>
        {% endfor %}
    </div>
</body>
</html>
