<!DOCTYPE html>
<html>
<head>
    <title>Select Judge</title>
	<script>
    document.addEventListener("DOMContentLoaded", function () {
        const spinner = document.getElementById("loading-spinner");

        // Показать спиннер при начале загрузки страницы
        spinner.style.display = "flex";

        // Скрыть спиннер после полной загрузки страницы
        window.addEventListener("load", function () {
            spinner.style.display = "none";
        });

        // Показать спиннер при переходах по ссылкам
        document.querySelectorAll("a").forEach(link => {
            link.addEventListener("click", function () {
                spinner.style.display = "flex";
            });
        });

        // AJAX-запросы (если используются)
        document.addEventListener("ajaxStart", function () {
            spinner.style.display = "flex";
        });

        document.addEventListener("ajaxStop", function () {
            spinner.style.display = "none";
        });
    });
</script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo">
    <h1>Select Judge</h1>
    <form action="{{ url_for('select_category') }}" method="get">
        <select name="judge">
            {% for judge in judges %}
            <option value="{{ judge }}">{{ judge }}</option>
            {% endfor %}
        </select>
        <button type="submit">OK</button>
    </form>
</body>
</html>
